html {
  background-color: rgba(216, 148, 102, 0.726);
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 16px;
}
.container {
  display: grid;
  grid-template: 50px 200px 50px / repeat(12, 1fr);
  grid-gap: 3px;
}
.container > div {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: rgb(40, 40, 165);
  /* grid-column-start: 1;
  grid-column-end: 3; long way to do it*/
  grid-column: 3 / -1;
}
.menu {
  background-color: rgb(214, 87, 48);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}
.content {
  background-color: rgb(144, 58, 184);
  grid-column: 3 / -1;
}
.footer {
  background-color: rgb(51, 137, 158);
  grid-column: 1 / -1;
}
.button-container {
  display: flex;
  flex-direction: row;
}
p {
  width: 13rem;
  height: 3rem;
  background-color: rgb(99, 39, 15);
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  border: 2px rgba(0, 0, 0, 0.3) solid;
  padding: 10px;
  margin: 1rem 0;
}

p:first-of-type {
  margin-right: 1.5rem;
}

p > a {
  color: white;
}
a:hover {
  color: rgb(226, 223, 223);
}

@media (max-width: 900px) {
  .header {
    background-color: rgb(40, 40, 165);
    grid-column: 1 / -1;
  }
  .menu {
    background-color: rgb(214, 87, 48);
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
  .content {
    background-color: rgb(144, 58, 184);
    grid-column: 5 / -1;
  }
}

@media (max-width: 600px) {
  .container {
    display: grid;
    grid-template: 50px 50px 200px 50px / repeat(12, 1fr);
    grid-gap: 3px;
  }
  .menu {
    background-color: rgb(214, 87, 48);
    grid-column: 1 / -1;
    grid-row: 2 / 2;
  }
  .content {
    background-color: rgb(144, 58, 184);
    grid-column: 1 / -1;
    grid-row: 3 / 3;
  }
}

@media (max-width: 350px) {
  .container > div {
    font-size: 2.5rem;
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  p:first-of-type {
    margin-right: 0;
  }
}
