html{
     background-color: rgba(216, 148, 102, 0.726);
     margin: 1rem;
}

.container{
     display: grid;
     /* Other ways of creating grid columns and rows */
     /* grid-template-columns: repeat(6, 1fr); */
     /* grid-template-columns: 1fr 1fr 1fr; */
     /* grid-template-rows: 1fr 1fr; */
     grid-template: repeat(3, 50px) / repeat(2, 1fr);
     grid-gap: 3px;
}

.container > div{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2em;
     border-radius: 3px;
}

.container > div:nth-child(1){
     background-color: rgb(40, 40, 165);
}
.container > div:nth-child(2){
     background-color: rgb(214, 87, 48);
}
.container > div:nth-child(3){
     background-color: rgb(144, 58, 184);
}
.container > div:nth-child(4){
     background-color: rgb(51, 137, 158);
}
.container > div:nth-child(5){
     background-color: rgb(184, 47, 54);
}
.container > div:nth-child(6){
     background-color: rgb(124, 156, 37);
}

p{
     width: 100px;
     height: 50px;
     background-color: rgb(99, 39, 15);
     text-align: center;
     line-height: 50px;
     border-radius: 5px;
     border: 2px rgba(0, 0, 0, 0.3) solid;
     padding: 10px;
}

p > a{
     color: white;
}