html {
  background-color: rgba(216, 148, 102, 0.726);
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 16px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.container > div {
  border-radius: 3px;
}
.container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.horizontal{
  grid-column: span 2;
}
.vertical{
  grid-row: span 2;
}
.big{
  grid-column: span 2;
  grid-row: span 2;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
p {
  width: 13rem;
  height: 3rem;
  background-color: rgb(99, 39, 15);
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  border: 2px rgba(0, 0, 0, 0.3) solid;
  padding: 10px;
  margin: 1rem 0;
}

p:first-of-type {
  margin-right: 1.5rem;
}

p > a {
  color: white;
}
a:hover {
  color: rgb(226, 223, 223);
}

@media (max-width: 350px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
  p:first-of-type {
    margin-right: 0;
  }
}
