html {
  background-color: rgba(216, 148, 102, 0.726);
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  height: 100%;
}
body {
  font-size: 16px;
  height: 100%;
}
.container {
  height: 100%;
  display: grid;
  grid-template: 50px auto 50px / repeat(12, 1fr);
  grid-template-areas:
    "m m m h h h h h h h h h"
    "m m m c c c c c c c c c"
    "f f f f f f f f f f f f";
  grid-gap: 3px;
}
.container > div {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  background-color: rgb(40, 40, 165);
  grid-area: h;
}
.menu {
  background-color: rgb(214, 87, 48);
  grid-area: m;
}
.content {
  background-color: rgb(144, 58, 184);
  grid-area: c;
}
.footer {
  background-color: rgb(51, 137, 158);
  grid-area: f;
}
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
p {
  width: 13rem;
  height: 3rem;
  background-color: rgb(99, 39, 15);
  text-align: center;
  line-height: 3rem;
  border-radius: 5px;
  border: 2px rgba(0, 0, 0, 0.3) solid;
  padding: 10px;
  margin: 1rem 0;
}

p:first-of-type {
  margin-right: 1.5rem;
}

p > a {
  color: white;
}
a:hover {
  color: rgb(226, 223, 223);
}
@media (max-width: 900px) {
  .container {
    grid-template-areas:
      "h h h h h h h h h h h h"
      "m m m m c c c c c c c c"
      "f f f f f f f f f f f f";
  }
}

@media (max-width: 600px) {
  .container {
    grid-template: 50px 50px auto 50px / repeat(12, 1fr);
    grid-template-areas:
      "h h h h h h h h h h h h"
      "m m m m m m m m m m m m"
      "c c c c c c c c c c c c"
      "f f f f f f f f f f f f";
  }
}

@media (max-width: 350px) {
  .container > div {
    font-size: 2.5rem;
  }
  .button-container {
    flex-direction: column;
    align-items: center;
  }
  p:first-of-type {
    margin-right: 0;
  }
}
